{% extends "base.html" %}
{% block title %}Shopping Application{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <main class="m-auto pt-5">
        {{ item }}
        <div class="row m-auto">
            <div class="col-8 d-flex flex-row flex-wrap">
                {% for item in items %}
                    {% include 'partials/item.html' %}
                {% endfor %}
            </div>
            <div class="col-4">
                {% include 'partials/basket.html' %}
            </div>
        </div>
    </main>
{% endblock %}

