{% extends "base.html" %}
{% block title %}Example{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center flex-column">
        <p>Your items:</p>
        {% for item in basket %}
            <div>{{ item[1].attributes.name }}</div>
            <div>£{{ item[1].attributes.cost }}</div>
            <br/>
        {% endfor %}
        <p>{% include 'partials/total_cost.html' %}</p>
        <button><a href="/" action="/display_page">Continue shopping</a></button>
    </div>
{% endblock %}
